www.andrewzah.com, andrewzah.com, andrei.blue {
  gzip
  tls zah@andrewzah.com

  log / stdout {combined}
  errors stderr

  proxy /webhook http://web:1111/webhook {
    transparent
  }

  proxy / http://web:1111
}

up.andrewzah.com {
  proxy / http://statping:8080 {
    transparent
    websocket
  }

}

korean.andrewzah.com {
  geoip /usr/share/GeoLite2-City.mmdb
  redir 302 {
    if {geoip_country_code} is "KR"
    / https://andrei.kr/
  }
  gzip
  tls zah@andrewzah.com

  log / stdout {combined}
  errors stderr

  proxy / http://korean_webapp:1111
}

https://irc-media.andrewzah.com {
  tls zah@andrewzah.com
  gzip

  log / stdout {combined}
  errors stderr

  basicauth /uploads illustriou 7gTdUk1WTGgldfh2FAXtw

  webdav /upload {
    scope /var/www/uploads
    modify      true
    allow_r .
  }

  webdav / {
    scope /var/www/uploads
    modify false
    allow_r .
  }
}
