www.andrewzah.com, andrewzah.com, andrei.blue {
  tls zah@andrewzah.com

  log / stdout {combined}
  errors stderr

  proxy / http://web:1111
}

znc.andrewzah.com {
  tls zah@andrewzah.com

  log / stdout {combined}
  errors stderr

  proxy / http://znc:6697
}

comments.andrewzah.com {
  tls zah@andrewzah.com

  log / stdout {combined}
  errors stderr

  proxy / http://isso:8090
}

amaranth.andrewzah.com {
  tls on

  log / stdout {combined}
  errors stderr

  proxy / http://amaranth-frontend:1112 {
    websocket
  }
}

bot.andrewzah.com, bot.andrei.blue {
  tls zah@andrewzah.com

  log / stdout {combined}
  errors stderr

  proxy / http://amaranth:7777 {
    websocket
  }
}

feeds.andrewzah.com {
  tls zah@andrewzah.com

  log / stdout {combined}
  errors stderr

  proxy / http://miniflux:8080
}

git.andrewzah.com {
  tls zah@andrewzah.com

  log / stdout {combined}
  errors stderr

  proxy / http://git:3000
}

duet.andrewzah.com {
  tls zah@andrewzah.com

  log / stdout {combined}
  errors stderr

  proxy / http://duet:3003
}

mtg.andrei.blue {
  tls zah@andrewzah.com

  log / stdout {combined}
  errors stderr

  proxy / http://mtg:4747
}

data.andrei.blue {
  tls zah@andrewzah.com

  log / stdout {combined}
  errors stderr

  proxy / http://netdata:19999
}
