https://andrewzah.com, andrewzah.com {
  encode gzip

  reverse_proxy * web:2020 {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
  }
}

https://prometheus.metrics.andrewzah.com {
  reverse_proxy * prometheus:9090 {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
  }
}

grafana.metrics.andrewzah.com {
  reverse_proxy * grafana:3000 {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
  }
}

https://influxdb.metrics.andrewzah.com {
  reverse_proxy * influxdb:8089 {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
  }
}

https://alpha.korean-gongbu.com {
  reverse_proxy * korean_gongbu_frontend:5000 {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
  }
}

https://old.korean-gongbu.com {
  reverse_proxy * korean_webapp:1111 {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
  }
}
