[irc]
    [irc.freenode]
    Server="irc.freenode.net:6667"
    Nick=""
    Password=""

[matrix]
    [matrix.ls]
    Server="https://matrix.org"
    Login=""
    Password=""
    PrefixMessagesWithNick=true
    NoHomeServerSuffix=true

[general]
    RemoteNickFormat="[{PROTOCOL}] <{NOPINGNICK}> "
    MediaDownloadSize=50000000
    MediaServerUpload=""
    MediaServerDownload=""

[[gateway]]
    name="mygateway"
    enable=true

    [[gateway.inout]]
    account="irc.freenode"
    channel=""

    [[gateway.inout]]
    account="matrix.ls"
    channel=""

